/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes moveFromRightFade {
  /* line 2, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-moz-keyframes moveFromRightFade {
  /* line 2, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-ms-keyframes moveFromRightFade {
  /* line 2, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-o-keyframes moveFromRightFade {
  /* line 2, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes moveFromRightFade {
  /* line 2, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes moveToRightFade {
  /* line 9, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-moz-keyframes moveToRightFade {
  /* line 9, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-ms-keyframes moveToRightFade {
  /* line 9, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-o-keyframes moveToRightFade {
  /* line 9, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes moveToRightFade {
  /* line 9, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes moveToLeftFade {
  /* line 16, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes moveToLeftFade {
  /* line 16, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-ms-keyframes moveToLeftFade {
  /* line 16, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes moveToLeftFade {
  /* line 16, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes moveToLeftFade {
  /* line 16, ../sass/_keyframes.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes moveFromLeftFade {
  /* line 23, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes moveFromLeftFade {
  /* line 23, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-ms-keyframes moveFromLeftFade {
  /* line 23, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes moveFromLeftFade {
  /* line 23, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes moveFromLeftFade {
  /* line 23, ../sass/_keyframes.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes movemilk {
  /* line 30, ../sass/_keyframes.scss */
  from {
    background-position-x: 0%;
  }

  /* line 33, ../sass/_keyframes.scss */
  to {
    background-position-x: 1000%;
  }
}

@-moz-keyframes movemilk {
  /* line 30, ../sass/_keyframes.scss */
  from {
    background-position-x: 0%;
  }

  /* line 33, ../sass/_keyframes.scss */
  to {
    background-position-x: 1000%;
  }
}

@-ms-keyframes movemilk {
  /* line 30, ../sass/_keyframes.scss */
  from {
    background-position-x: 0%;
  }

  /* line 33, ../sass/_keyframes.scss */
  to {
    background-position-x: 1000%;
  }
}

@-o-keyframes movemilk {
  /* line 30, ../sass/_keyframes.scss */
  from {
    background-position-x: 0%;
  }

  /* line 33, ../sass/_keyframes.scss */
  to {
    background-position-x: 1000%;
  }
}

@keyframes movemilk {
  /* line 30, ../sass/_keyframes.scss */
  from {
    background-position-x: 0%;
  }

  /* line 33, ../sass/_keyframes.scss */
  to {
    background-position-x: 1000%;
  }
}

/*
Version: 3.4.3 Timestamp: Tue Sep 17 06:47:14 PDT 2013
*/
/* line 4, ../sass/_plugins.scss */
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* line 17, ../sass/_plugins.scss */
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  max-width: 700px;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

/* line 33, ../sass/_plugins.scss */
.select2-dropdown-open .select2-choice {
  border-color: #00bd9c !important;
}

/* line 38, ../sass/_plugins.scss */
.select2-container .select2-choice {
  display: block;
  height: 60px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 2px solid #bdc3c7;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -moz-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  white-space: nowrap;
  line-height: 60px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}

/* line 68, ../sass/_plugins.scss */
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.9, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(top, #eeeeee 0%, #ffffff 90%);
}

/* line 80, ../sass/_plugins.scss */
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

/* line 84, ../sass/_plugins.scss */
.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 94, ../sass/_plugins.scss */
.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url('../images/select2.png?1379396840') right top no-repeat;
  cursor: pointer;
  outline: 0;
}

/* line 111, ../sass/_plugins.scss */
.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

/* line 115, ../sass/_plugins.scss */
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

/* line 120, ../sass/_plugins.scss */
.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

/* line 138, ../sass/_plugins.scss */
.select2-drop-active {
  border-color: #00bd9c;
}

/* line 141, ../sass/_plugins.scss */
.select2-drop {
  width: 100%;
  margin-top: -5px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 2px solid #bdc3c7;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

/* line 159, ../sass/_plugins.scss */
.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

/* line 164, ../sass/_plugins.scss */
.select2-drop-auto-width .select2-search {
  padding-top: 4px;
}

/* line 168, ../sass/_plugins.scss */
.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

/* line 181, ../sass/_plugins.scss */
.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.6, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  display: none;
}

/* line 205, ../sass/_plugins.scss */
.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/select2.png?1379396840') no-repeat 0 1px;
}

/* line 212, ../sass/_plugins.scss */
.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

/* line 226, ../sass/_plugins.scss */
.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: white url('../images/select2.png?1379396840') no-repeat 100% -22px;
  background: url('../images/select2.png?1379396840') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('../images/select2.png?1379396840') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../images/select2.png?1379396840') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../images/select2.png?1379396840') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

/* line 250, ../sass/_plugins.scss */
.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

/* line 254, ../sass/_plugins.scss */
.select2-search input.select2-active {
  background: white url('../images/select2-spinner.gif?1379396840') no-repeat 100%;
  background: url('../images/select2-spinner.gif?1379396840') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('../images/select2-spinner.gif?1379396840') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../images/select2-spinner.gif?1379396840') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../images/select2-spinner.gif?1379396840') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

/* line 263, ../sass/_plugins.scss */
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  /*border: 1px solid #5897fb; */
  outline: none;
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
          box-shadow: 0 0 5px rgba(0, 0, 0, .3); */
}

/* line 271, ../sass/_plugins.scss */
.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  /* border-bottom-left-radius: 0;
   border-bottom-right-radius: 0; */
  /*background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%);*/
}

/* line 288, ../sass/_plugins.scss */
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center top, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center top, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(bottom, #ffffff 0%, #eeeeee 50%);
}

/* line 299, ../sass/_plugins.scss */
.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}

/* line 304, ../sass/_plugins.scss */
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

/* results */
/* line 309, ../sass/_plugins.scss */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 319, ../sass/_plugins.scss */
.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

/* line 324, ../sass/_plugins.scss */
.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}

/* line 325, ../sass/_plugins.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}

/* line 326, ../sass/_plugins.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}

/* line 327, ../sass/_plugins.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}

/* line 328, ../sass/_plugins.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}

/* line 329, ../sass/_plugins.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}

/* line 330, ../sass/_plugins.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}

/* line 332, ../sass/_plugins.scss */
.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

/* line 338, ../sass/_plugins.scss */
.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

/* line 342, ../sass/_plugins.scss */
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 356, ../sass/_plugins.scss */
.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

/* line 361, ../sass/_plugins.scss */
.select2-results li em {
  background: #feffde;
  font-style: normal;
}

/* line 366, ../sass/_plugins.scss */
.select2-results .select2-highlighted em {
  background: transparent;
}

/* line 370, ../sass/_plugins.scss */
.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

/* line 378, ../sass/_plugins.scss */
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
/* line 386, ../sass/_plugins.scss */
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

/* line 392, ../sass/_plugins.scss */
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

/* line 398, ../sass/_plugins.scss */
.select2-results .select2-selected {
  display: none;
}

/* line 402, ../sass/_plugins.scss */
.select2-more-results.select2-active {
  background: #f4f4f4 url('../images/select2-spinner.gif?1379396840') no-repeat 100%;
}

/* line 406, ../sass/_plugins.scss */
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
/* line 413, ../sass/_plugins.scss */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

/* line 420, ../sass/_plugins.scss */
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

/* line 426, ../sass/_plugins.scss */
.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
/* line 433, ../sass/_plugins.scss */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}

/* line 451, ../sass/_plugins.scss */
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

/* line 455, ../sass/_plugins.scss */
.select2-container-multi .select2-choices {
  min-height: 26px;
}

/* line 459, ../sass/_plugins.scss */
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 466, ../sass/_plugins.scss */
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

/* line 470, ../sass/_plugins.scss */
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 476, ../sass/_plugins.scss */
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

/* line 490, ../sass/_plugins.scss */
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: white url('../images/select2-spinner.gif?1379396840') no-repeat 100% !important;
}

/* line 494, ../sass/_plugins.scss */
.select2-default {
  color: #999 !important;
}

/* line 498, ../sass/_plugins.scss */
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}

/* line 528, ../sass/_plugins.scss */
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

/* line 531, ../sass/_plugins.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

/* line 535, ../sass/_plugins.scss */
.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url('../images/select2.png?1379396840') right top no-repeat;
}

/* line 548, ../sass/_plugins.scss */
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

/* line 552, ../sass/_plugins.scss */
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

/* line 555, ../sass/_plugins.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
/* line 560, ../sass/_plugins.scss */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

/* line 567, ../sass/_plugins.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

/* line 574, ../sass/_plugins.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
/* line 581, ../sass/_plugins.scss */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

/* line 585, ../sass/_plugins.scss */
.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

/* line 599, ../sass/_plugins.scss */
.select2-display-none {
  display: none;
}

/* line 603, ../sass/_plugins.scss */
.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* line 614, ../sass/_plugins.scss */
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    background-image: url('../images/select2x2.png?1379396840') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  /* line 619, ../sass/_plugins.scss */
  .select2-search input {
    background-position: 100% -21px !important;
  }
}
@font-face {
  font-family: 'Gill Sans Light';
  src: url("../fonts/Gill Sans Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gill Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gill Sans Light.woff") format("woff"), url("../fonts/Gill Sans Light.ttf") format("truetype"), url("../fonts/Gill Sans Light.svg#c7a29aba01536dc0842ff0a96749d5f8") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}

/* line 21, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 25, ../sass/screen.scss */
html, body {
  overflow-x: hidden;
  font-family: 'Gill Sans Light';
  color: #cc9861;
  background-color: #33495f;
  height: 100%;
}

/*body {
	background-image: image-url('bigbg.png');
	background-size: contain;
	background-position: center bottom;
	min-height: 100%;
	background-position-y: 220px;
	background-repeat: no-repeat;
}*/
/* line 42, ../sass/screen.scss */
.milk_bg {
  position: absolute;
  background-image: url('../images/latte.png?1380482362');
  background-size: contain;
  background-position-y: 0px;
  background-repeat: no-repeat;
  width: 100%;
  top: 50%;
  bottom: 0px;
  background-color: #f0f0e0;
}

/* line 56, ../sass/screen.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  min-width: 320px;
  margin: 0px auto;
}
/* line 64, ../sass/screen.scss */
.container header {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0px auto;
  height: 260px;
  padding: 20px;
  padding-top: 50px;
  max-width: 470px;
  text-align: center;
}
/* line 75, ../sass/screen.scss */
.container header #logo {
  background-image: url('../images/logo.png?1380466857');
  background-repeat: no-repeat;
  width: 121px;
  height: 234px;
  float: left;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 75, ../sass/screen.scss */
  .container header #logo {
    background-size: 100%;
    background-image: url('../images/logox2.png?1380466824');
  }
}
/* line 84, ../sass/screen.scss */
.container header .right {
  float: right;
}
/* line 86, ../sass/screen.scss */
.container header .right h1 {
  margin-top: 50px;
  font-size: 42px;
}
@media only screen and (max-width: 430px) {
  /* line 86, ../sass/screen.scss */
  .container header .right h1 {
    font-size: 30px;
  }
}
/* line 93, ../sass/screen.scss */
.container header .right h2 {
  font-size: 22px;
}
@media only screen and (max-width: 430px) {
  /* line 93, ../sass/screen.scss */
  .container header .right h2 {
    font-size: 15px;
  }
}
/* line 102, ../sass/screen.scss */
.container #breadcrumb {
  display: none;
  position: relative;
  width: 60%;
  height: 2px;
  margin: 0px auto;
  margin-top: 30px;
  background-color: #bdc3c7;
  top: 180px;
}
/* line 112, ../sass/screen.scss */
.container #breadcrumb .progress {
  position: absolute;
  left: 0px;
  top: 0px;
  height: inherit;
  width: 0px;
  background-color: #cc9861;
}
/* line 121, ../sass/screen.scss */
.container #breadcrumb span {
  display: block;
  position: absolute;
  top: -3px;
  height: 8px;
  width: 8px;
  margin-left: -4px;
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(50%, #bdc3c7), color-stop(50%, #cc9861));
  background-size: 200%;
  background-position: 0%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 144, ../sass/screen.scss */
.container #breadcrumb span.done {
  background-position: -100%;
}
/* line 147, ../sass/screen.scss */
.container #breadcrumb span.current {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
/* line 155, ../sass/screen.scss */
.container #steps {
  position: relative;
  width: 100%;
  height: 300px;
  list-style: none;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 165, ../sass/screen.scss */
.container #steps li {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0px);
  position: absolute;
  visibility: hidden;
  height: 100%;
  width: 100%;
  padding: 10%;
}
/* line 177, ../sass/screen.scss */
.container #steps li h1 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 183, ../sass/screen.scss */
.container #steps li.current {
  visibility: visible;
}
/* line 187, ../sass/screen.scss */
.container #steps li a {
  display: block;
  width: 30%;
  height: 50px;
  cursor: pointer;
  margin: 0px auto;
  margin-top: 50px;
  background-color: #cc9861;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 17px;
  letter-spacing: 6px;
}
/* line 206, ../sass/screen.scss */
.container #steps li a span {
  margin-left: 7px;
}
/* line 210, ../sass/screen.scss */
.container #steps li a:hover {
  background-color: #cca470;
}
/* line 220, ../sass/screen.scss */
.container #steps li#end .done {
  display: none;
}
/* line 222, ../sass/screen.scss */
.container #steps li#end .done h1 {
  font-size: 31px;
}
/* line 227, ../sass/screen.scss */
.container #steps li#end .loading_container {
  display: none;
}
/* line 229, ../sass/screen.scss */
.container #steps li#end .loading_container span {
  margin: 0px auto;
  display: block;
  background-color: #f0f0e0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-image: url('../images/loading.gif?1380488976');
  background-repeat: no-repeat;
  width: 130px;
  height: 110px;
}
/* line 236, ../sass/screen.scss */
.container #steps li#end .loading_container h1 {
  margin-top: 10px;
}
/* line 241, ../sass/screen.scss */
.container #steps li#end .download_container {
  display: table;
  width: 50%;
  margin: 0px auto;
}
/* line 245, ../sass/screen.scss */
.container #steps li#end .download_container > * {
  display: table-cell;
}
/* line 249, ../sass/screen.scss */
.container #steps li#end .download_container p {
  text-align: center;
  padding-top: 10%;
  font-size: 30px;
}
/* line 254, ../sass/screen.scss */
.container #steps li#end .download_container .github {
  background-size: 100%;
  background-image: url('../images/github.png?1380489920');
  background-repeat: no-repeat;
  width: 148px;
  height: 208px;
  width: 35%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}
/* line 259, ../sass/screen.scss */
.container #steps li#end .download_container .github:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 265, ../sass/screen.scss */
.container #steps li#end .download_container .download {
  background-size: 100%;
  background-image: url('../images/download.png?1380489921');
  background-repeat: no-repeat;
  width: 152px;
  height: 208px;
  width: 35%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}
/* line 270, ../sass/screen.scss */
.container #steps li#end .download_container .download:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 283, ../sass/screen.scss */
input[type='text'] {
  outline: none;
  padding: 8px;
  max-width: 700px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #bdc3c7;
  font-size: 25px;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -moz-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
/* line 296, ../sass/screen.scss */
input[type='text'].error {
  border-color: #c34f4f;
}

/* line 302, ../sass/screen.scss */
.moveToLeftFade {
  -webkit-animation: moveToLeftFade 0.7s ease both;
  -moz-animation: moveToLeftFade 0.7s ease both;
  -o-animation: moveToLeftFade 0.7s ease both;
  -ms-animation: moveToLeftFade 0.7s ease both;
  animation: moveToLeftFade 0.7s ease both;
}

/* line 305, ../sass/screen.scss */
.moveFromRightFade {
  -webkit-animation: moveFromRightFade 0.7s ease both;
  -moz-animation: moveFromRightFade 0.7s ease both;
  -o-animation: moveFromRightFade 0.7s ease both;
  -ms-animation: moveFromRightFade 0.7s ease both;
  animation: moveFromRightFade 0.7s ease both;
}

/* line 308, ../sass/screen.scss */
.moveToRightFade {
  -webkit-animation: moveToRightFade 0.7s ease both;
  -moz-animation: moveToRightFade 0.7s ease both;
  -o-animation: moveToRightFade 0.7s ease both;
  -ms-animation: moveToRightFade 0.7s ease both;
  animation: moveToRightFade 0.7s ease both;
}

/* line 311, ../sass/screen.scss */
.moveFromLeftFade {
  -webkit-animation: moveFromLeftFade 0.7s ease both;
  -moz-animation: moveFromLeftFade 0.7s ease both;
  -o-animation: moveFromLeftFade 0.7s ease both;
  -ms-animation: moveFromLeftFade 0.7s ease both;
  animation: moveFromLeftFade 0.7s ease both;
}

/* line 316, ../sass/screen.scss */
.twitter-typeahead {
  width: 100%;
}

/* line 321, ../sass/screen.scss */
.typeahead,
.tt-hint {
  width: 574px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

/* line 334, ../sass/screen.scss */
.typeahead {
  background-color: #fff;
}

/* line 338, ../sass/screen.scss */
.tt-hint {
  color: #999999;
}

/* line 342, ../sass/screen.scss */
.tt-dropdown-menu {
  width: 100%;
  margin-top: -5px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #bdc3c7;
  border-top: 0px;
}

/* line 353, ../sass/screen.scss */
.tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18px;
}

/* line 359, ../sass/screen.scss */
.tt-suggestion + .tt-suggestion {
  font-size: 14px;
  border-top: 1px solid #ccc;
}

/* line 364, ../sass/screen.scss */
.tt-suggestions .repo-language {
  float: right;
  font-style: italic;
}

/* line 369, ../sass/screen.scss */
.tt-suggestions .repo-name {
  font-size: 20px;
  font-weight: bold;
}

/* line 374, ../sass/screen.scss */
.tt-suggestions .repo-description {
  margin: 0;
}

/* line 378, ../sass/screen.scss */
.twitter-typeahead .tt-suggestion.tt-is-under-cursor {
  color: #03739c;
}
