@font-face {
  font-family: 'Gill Sans Light';
  src: url('../fonts/Gill Sans Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gill Sans Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Gill Sans Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Gill Sans Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Gill Sans Light.svg#c7a29aba01536dc0842ff0a96749d5f8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}