/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/";

$grey: #bdc3c7;
$green: rgb(0, 189, 156);

@import 'mixin';
@import 'keyframes';
@import 'plugins';

* {
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 700px;
	min-width: 360px;
	margin: 0px auto;
	margin-top: 200px;

	#breadcrumb {
		position: relative;
		width: 40%;
		height: 2px;
		margin: 0px auto;
		background-color: $grey;
	
		.progress {
			position: absolute;
			left: 0px;
			top: 0px;
			height: inherit;
			width: 0px;
			background-color: $green;
		}
		
		span {
			display: block;
			position: absolute;

			top: -3px;
			height: 8px;
			width: 8px;
			margin-left: -4px;

			//background-color: $grey;
			background-image: -webkit-gradient(
				linear,
				left bottom,
				right bottom,
				color-stop(50%, $grey),
				color-stop(50%, $green)
			);
			background-size: 200%;
			background-position: 0%;

			@include transition(0.3s);
			@include border-radius(50%);

			&.done {
				background-position: -100%;
			}
			&.current {
				//background-color: $green;
				@include transform(scale(2));
			}

		}
	}

	#steps {
		margin-top: 20px;
		position: relative;
		width: 100%;
		height: 300px;
		list-style: none;

		li {
			position: absolute;
			visibility: hidden;
			height: 100%;
			width: 100%;
			padding: 40px;

			&.current {
				visibility: visible;
			}

			a.next {
				display: block;
				width: 30%;
				height: 50px;
				cursor: pointer;
		
				margin: 0px auto;
				margin-top: 50px;

				background-color: #1abc9c;
				@include transition(0.25s);
				@include border-radius(3px);

				&:hover {
					background-color: #48c9b0;
				}
			}
		}
	}

}


.moveToLeftFade {
	@include animation(moveToLeftFade .7s ease both)
}
.moveFromRightFade {
	@include animation(moveFromRightFade .7s ease both)
}
.moveToRightFade {
	@include animation(moveToRightFade .7s ease both)
}
.moveFromLeftFade {
	@include animation(moveFromLeftFade .7s ease both)
}