/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/";

$grey: #bdc3c7;
$green: rgb(0, 189, 156);
$brown: #cc9861;
$red: rgb(195, 79, 79);
$blue: #33495F;
$milk: rgb(240, 240, 224);

@import 'mixin';
@import 'keyframes';
@import 'plugins';
@import 'typo';

* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
	font-family: 'Gill Sans Light';
	color: $brown;
	background-color: $blue;
	height: 100%;
}

/*body {
	background-image: image-url('bigbg.png');
	background-size: contain;
	background-position: center bottom;
	min-height: 100%;
	background-position-y: 220px;
	background-repeat: no-repeat;
}*/

.milk_bg {
	position: absolute;
	background-image: image-url('latte.png');
	background-size: contain;
	background-position-y: 0px;
	background-repeat: no-repeat;
	width: 100%;
	top: 50%;
	bottom: 0px;
	background-color: $milk;

	//@include animation(movemilk 10s linear infinite both);
}

.container {
	position: relative;
	width: 100%;
	max-width: 700px;
	min-width: 320px;
	margin: 0px auto;


	header {
		width: 100%;
		max-width: 400px;
		text-align: center;
		margin: 0px auto;
		height: 260px;
		padding: 20px;
		padding-top: 50px;
		max-width: 470px;

		text-align: center;
		#logo {
			@include bg_img('logo.png');
			@include retina {
				background-size: 100%;
				background-image: image-url('logox2.png');
			}
			float:left;

		}
		.right {
			float: right;
			h1 {
				margin-top: 50px;
				font-size: 42px;
				@include responsive(mobile){
					font-size:30px;
				}
			}
			h2 {
				font-size: 22px;
				@include responsive(mobile){
					font-size: 15px;
				}
			}
		}
	}

	#breadcrumb {
		display: none;
		position: relative;
		width: 60%;
		height: 2px;
		margin: 0px auto;
		margin-top: 30px;
		background-color: $grey;
		top: 180px;
	
		.progress {
			position: absolute;
			left: 0px;
			top: 0px;
			height: inherit;
			width: 0px;
			background-color: $brown;
		}
		
		span {
			display: block;
			position: absolute;

			top: -3px;
			height: 8px;
			width: 8px;
			margin-left: -4px;

			//background-color: $grey;
			background-image: -webkit-gradient(
				linear,
				left bottom,
				right bottom,
				color-stop(50%, $grey),
				color-stop(50%, $brown)
			);
			background-size: 200%;
			background-position: 0%;

			@include transition(0.3s);
			@include border-radius(50%);

			&.done {
				background-position: -100%;
			}
			&.current {
				//background-color: $brown;
				@include transform(scale(2));
			}

		}
	}

	#steps {
		position: relative;
		width: 100%;
		height: 300px;
		list-style: none;
		
		@include perspective(1200px);
		@include transform-style(preserve-3d);
	

		li {
			@include perspective(1200px);
			@include transform-style(preserve-3d);
			-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(0px);

			position: absolute;
			visibility: hidden;
			height: 100%;
			width: 100%;
			padding: 10%;

			h1 {
				font-size: 21px;
				text-align: center;
				margin-bottom: 10px;
			}

			&.current {
				visibility: visible;
			}

			a {
				display: block;
				width: 30%;
				height: 50px;
				cursor: pointer;
		
				margin: 0px auto;
				margin-top: 50px;

				background-color: $brown;
				@include transition(0.4s);
				@include border-radius(3px);


				color: #fff;
				text-align: center;
				line-height: 50px;
				font-size: 17px;
				letter-spacing: 6px;
				span {
					margin-left: 7px;
				}

				&:hover {
					background-color: #cca470;
				}
			}

		}


		li#end {

			.download_link {
				//display: none;
			}

			.loading_container {
				display: none;
				span {
					margin: 0px auto;
					display: block;
					background-color: $milk;
					@include border-radius(50%);
					@include bg_img('loading.gif');
				}
				h1 {
					margin-top: 10px;
				}
			}

			.download_container {
				display: table;
				width: 50%;
				margin: 0px auto;
				> * {
					display: table-cell;
				}

				p {
					text-align: center;
					padding-top: 10%;
					font-size: 30px;
				}
				.github {
					background-size: 100%;
					@include bg_img('github.png');
					width: 35%;
					@include opacity(0.8);
					&:hover {
						@include opacity(1);
					}
					@include transition(opacity 0.3s);
					cursor: pointer;
				}
				.download {
					background-size: 100%;
					@include bg_img('download.png');
					width: 35%;
					@include opacity(0.8);
					&:hover {
						@include opacity(1);
					}
					@include transition(opacity 0.3s);
					cursor: pointer;
				}
			}
		}
	}

}


input[type='text'] {
	outline: none;
	padding: 8px;
	max-width: 700px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	@include border-radius(4px);
	border: 2px solid $grey;

	@include transition (border .25s linear, color .25s linear, background-color .25s linear);


	&.error {
		border-color: $red;
	}
}


.moveToLeftFade {
	@include animation(moveToLeftFade .7s ease both)
}
.moveFromRightFade {
	@include animation(moveFromRightFade .7s ease both)
}
.moveToRightFade {
	@include animation(moveToRightFade .7s ease both)
}
.moveFromLeftFade {
	@include animation(moveFromLeftFade .7s ease both)
}


.twitter-typeahead {
	width: 100%;
}

.typeahead,
.tt-hint {
  width: 574px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: -5px;
  background-color: #fff;

  @include border-radius(4px);
  border: 2px solid $grey;
  border-top: 0px;

}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion + .tt-suggestion {
  font-size: 14px;
  border-top: 1px solid #ccc;
}

.tt-suggestions .repo-language {
  float: right;
  font-style: italic;
}

.tt-suggestions .repo-name {
  font-size: 20px;
  font-weight: bold;
}

.tt-suggestions .repo-description {
  margin: 0;
}

.twitter-typeahead .tt-suggestion.tt-is-under-cursor {
  color: #03739c;
}