{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}fROLLino{% endblock title %}</title>

    <link href="{% static 'css/screen.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    {% block head %}
    {% endblock head %}
  </head>

  <body id="{% block body_id %}default{% endblock body_id %}">

  {% block body_start %}
  {% endblock body_start %}

    <div class="container">
      <header>
        <div id="logo"></div>
        <h1>FROLLINO</h1>
        <h2>DIP INTO YOUR  PROJECT</h2>
      </header>

      {% include "breadcrumb.html" %}

      <ul id="steps">
        
        <li id="intro" class="current">
            
            <select data-placeholder="Select a generator">
              <option value="nonloso">nonloso</option>
              <option value="ruby">ruby</option>
              <option value="wordpress">wordpress</option>
              <option value="django">django</option>
              <option value="html5boilerplate">html5boilerplate</option>
            </select>
            
            <a class="next"></a>
        </li>

        <li>
          <input type="text" placeholder="Insert a name..." />
          
          <a class="next"></a>
        </li>
        <li>
          <select data-placeholder="Select a generator">
            <option value="nonloso">nonloso</option>
            <option value="ruby">ruby</option>
            <option value="wordpress">wordpress</option>
            <option value="django">django</option>
            <option value="html5boilerplate">html5boilerplate</option>
          </select>
          
          <a class="next"></a>
        </li>
        
        <li id="end">
          <select data-placeholder="Select a generator">
            <option value="nonloso">nonloso</option>
            <option value="ruby">ruby</option>
            <option value="wordpress">wordpress</option>
            <option value="django">django</option>
            <option value="html5boilerplate">html5boilerplate</option>
          </select>
          
          <a class="next"></a>
        </li>
      </ul>
    

    </div><!-- /.container -->

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/build/main.js' %}"></script>

    {% block body_end %}
    {% endblock body_end %}
  </body>
</html>
